
/* DEFAULTS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
.nudge {
	color: #FFFFFF;
	display:inline-block;
	background-color:#cccccc;
	font-size:20px;
	padding-top:10px;
	margin:5px 2px;
	border-radius:5px;
	width:32px;
	height:24px;
	font-weight:bold;
}

#all {
	max-width:400px;
	margin-top:50px;
	display:inline-block;
	background-color:#DDDDDD;
	border-radius:30px;
	padding:30px 20px;

}

body {
	text-align:center;
	font-family:arial;
}
#current {
	width:70%;
	margin:10px 0 10px 0;
	font-size:88px;
	padding:0px 0px 0px 0px;
	background:#FFFFFF;
	overflow:hidden;
	border-radius:20px;
	border:0px solid #FFFFFF;
	text-align:center;

}
#play {
	display:inline-block;
	width:80%;	
}